<footer>
    <div class="container">
        <div class="footer-flex">
            <p>&copy; 2025 PerforMind. Toate drepturile rezervate.</p>
            <div>
                <a href="#acasa">Acasă</a> ·
                <a href="#planuri">Planuri</a> ·
                <a href="#cum-funcționează">Cum funcționează</a> ·
                <a href="#login">Intră în cont</a>
            </div>
        </div>
    </div>
</footer>