<header>
    <div class="container">
        <nav>
            <div class="logo">PERFORMIND</div>
            <ul>
                <li><a href="#cursuri">Cursuri</a></li>
                <li><a href="#planuri">Planuri</a></li>
                <li><a href="#mentori">Mentori</a></li>
                <li><a href="#proba">Lecție de probă</a></li>
                <li><a href="#login" class="btn loginLink">Intră în cont</a></li>
            </ul>
        </nav>
    </div>
</header>