<!DOCTYPE html>
<html>
<head>
  <title>Eroare resetare parolă</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="container">
    <h1>Eroare resetare parolă</h1>
    <p><%= message %></p>
    <p>Te rugăm să <a href="/">te întorci la pagina principală</a> și să încerci din nou.</p>
  </div>
</body>
</html>