<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Email Verification Failed</title>
    <!--suppress HtmlUnknownTarget -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="container">
        <h1>Verificarea a eșuat</h1>
        <p><%= message %></p>
        <a href="/" class="btn">Înapoi la pagina principală</a>
    </div>
</body>
</html>