<!DOCTYPE html>
<html lang="ro">
<head>
    <title>Email Verification Successful</title>
    <!--suppress HtmlUnknownTarget -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <div class="container">
        <h1>Email verificat cu succes!</h1>
        <p>Contul tău a fost activat. Acum te poți autentifica.</p>
        <a href="/login" class="btn">Autentificare</a>
    </div>
</body>
</html>